@media (min-width: 600px) {
  body {
    margin: 40px;
  }
  h1,
  h3,
  p {
    font-family: "Lato", sans-serif;
  }

  /* Style inputs with type="text", select elements and textareas */
  input[type="text"],
  select,
  textarea {
    font-family: "Lato", sans-serif;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid rgb(0, 0, 0); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type="submit"] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    margin-left: 300px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type="submit"]:hover {
    background-color: #332b2b83;
  }

  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .detaljer {
    font-family: "Lato", sans-serif;
    grid-column: 2;
    grid-row: 1;
    width: 40%;
    margin-left: 485px;
    margin-top: 170px;
  }
  .billede1 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    margin-top: 106px;
    margin-left: -4px;
    height: 119%;
  }
  .udfyld {
    grid-row: 1;
    grid-column: 2;
    margin-top: 190px;
    margin-right: 700px;
    width: 50%;
    position: relative;
    font-family: "Lato", sans-serif;
  }
  .besked {
    font-family: "Lato", sans-serif;
    grid-row: 2;
    grid-column: 2;
    margin-top: -115px;
    width: 80%;
    position: relative;
  }
  .kontakt {
    font-family: "Lato", sans-serif;
    grid-row: 1;
    grid-column: 2;
    margin-top: 108px;
    position: relative;
  }
}
