.overskrift {
  color: #404040;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
}

.personale {
  background-color: #e4d5b7;
  opacity: 60%;
  color: #404040;
  padding: 1rem;
  height: 40rem;
}

.leve {
  max-width: 1400px;
  margin: 5px;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}

.billede-person {
  width: 100%;
  object-fit: contain;
  max-height: 80%;
}

.persona {
  padding: 10px;
}

h4 {
  font-weight: 700;
}

@media (min-width: 600px) {
  .leve {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) {
  .leve {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    flex-direction: column;
  }

  .box {
    margin: 0 0 1rem;
  }
}

.container {
  display: flex;
  width: 100%;
  margin: 10px;
}

.column-1 {
  flex-shrink: 0;
  flex-basis: 50%;
}

.box {
  padding: 10px;
  margin: 1rem;
}

.hero {
  max-width: 100%;
}

.column-2 {
  display: flex;
  align-items: center;
}
