img {
  max-width: 100%;
}

.info {
  text-align: center;
  position: absolute;
  font-size: 10px;
  top: 14vh;
  left: 57%;
  color: white;
}

p {
  padding: 10px 50px;
  position: relative;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.overskrift {
  color: #404040;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
}

.personale {
  background-color: white;
  color: #404040;
  padding: 1rem;
  height: 40rem;
}

.leve {
  max-width: 1400px;
  margin: 5px;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}

.billede-person {
  width: 100%;
  object-fit: contain;
  max-height: 80%;
}

.persona {
  padding: 10px;
}

h4 {
  font-weight: 700;
}
.container {
  display: flex;
  width: 100%;
  margin: 10px;
}

@media (min-width: 600px) {
  .leve {
    grid-template-columns: repeat(1, 1fr);
  }
  .info {
    text-align: center;
    position: absolute;
    font-size: 16px;
    top: 24vh;
    left: 65%;
    color: white;
  }
}

@media (min-width: 900px) {
  .leve {
    grid-template-columns: repeat(1, 1fr);
  }
  .info {
    text-align: center;
    position: absolute;
    font-size: 18px;
    top: 54vh;
    left: 60%;
    color: white;
  }
  .container {
    flex-direction: column;
  }
}
